/* css styles */
#quarto-document-content {
	text-align: left;
}

@font-face {
	font-family: "IBM Plex Sans";
	src: url("fonts/IBMPlexSans-Regular.ttf");
}

@font-face {
	font-family: "Cascadia Code";
	src: url("fonts/CascadiaCode-Regular.ttf");
}